<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">NĐăng ký nhận bản tin</p>
			<p>Nhận tin tức tuyệt vời từ chúng tôi trong hộp thư đến của bạn hai tuần một lần. Hãy là người đầu tiên tìm hiểu về sản phẩm mới.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">CF68 Club cột</h3>
				<ul class="mb3">
					<li><a href="https://cf68-cf68.live/" class="pa3 no-underline db">CF68</a></li>

					<li><a href="/products" class="pa3 no-underline db">CF68 Game</a></li>

					<li><a href="/post" class="pa3 no-underline db">Blog</a></li>

					<li><a href="/contact" class="pa3 no-underline db">Liên Hệ</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Tìm hiểu thêm</h3>
				<ul class="mb3">
					<li><a href="/contact" class="link">Lên lịch và cuộc hẹn</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Truyền thông xã hội</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
